@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #141516;
  background-color: #F4F6FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  padding-top: 100px;
}
.swiper .swiper-button-prev, 
.swiper .swiper-button-next {
  top: 50px;
  color: white;
}
.swiper .swiper-button-prev{
  left: 90%;
}
@media screen and (max-width: 768px) {
  .swiper .swiper-button-prev{
    left: 80%;
  }
}

.swiper .swiper-button-next {
  right: 1%;
}
.swiper .swiper-button-prev:hover, 
.swiper .swiper-button-next:hover {
  color:  #E9C26B;
}

.swiper .swiper-button-prev::after, 
.swiper .swiper-button-next::after {
 
  font-size: 22px;
}
